{% trans_default_domain 'FOSUserBundle' %}

<br>
  <nav>
    <div class="nav-wrapper">
      <div class="col s12" style="padding-left: 10px">
        <a href="{{path('fos_user_profile_show')}}" class="breadcrumb">Profile</a>
        <a href="{{path('fos_user_change_password')}}" class="breadcrumb">Change Password</a>
      </div>
    </div>
  </nav>
<br>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light deep-orange" type="submit" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}
                    <i class="material-icons left">lock_open</i>
                </button> 
            </div>
        </div>
{{ form_end(form) }}

<br><br><br>
