{% trans_default_domain 'FOSUserBundle' %}
<br>
{% if error %}
    <div><i>{{ error.messageKey|trans(error.messageData, 'security') }}</i></div>
{% endif %}

<div class="row">
    <div class="col s12 m12 l12 xl12">

    <h1>Wallet Login</h1>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="email" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                <label for="username">{{ 'form.email'|trans }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>    
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" id="remember_me" name="_remember_me" value="on" />
                        <span>{{ 'security.login.remember_me'|trans }}</span>
                    </label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}
                    <i class="material-icons right">send</i>
                </button> 
                
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a href="{{path('fos_user_resetting_request')}}">Reset password</a>
            </div>
        </div>
</form>

</div></div>