New block found!! 
<br>
Block size is: {{size}} <br>
Confirmations: {{confirmations}} <br>
Difficulty: {{difficulty}} <br>
Hash: <a href="https://live.blockcypher.com/btc/block/{{hash}}">{{hash}}</a> <br>
Time: {{time}}
