Hello {{ account }} <br>

You have successfully {{category}}d a transaction! <br><br>

The amount is {{ amount }} <br>
The transaction id is: <a href="https://live.blockcypher.com/btc/tx/{{txid}}">{{ txid }}</a> <br>
It currently has {{ confirmations }} confirmations. <br>
You will receive an email when a transaction is received and reaches 1 confirmation.

<br>
The amount has been received at <b>{{ address }}</b> and should show up in your account within long.

<br><br>

<a href="{{ url('user_wallet') }}">Go to Your Wallet</a>.