<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Bitcoin Wallet">
        <meta name="theme-color">
        <title>{% block title %}Bitcoin Wallet{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png')}}" async>

        {% block stylesheets %}
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" async>

          <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" async/>
        {% endblock %}
    </head>
    <body>

 <!-- Modal Structure -->
  <div id="feedback" class="modal">

    <div class="modal-content">
      <h4>Send Feedback</h4>
        <div class="row">
            <form class="col s12 sendfeedback">
            <div class="row">
                <div class="input-field col s12 l10">
                <i class="material-icons prefix">message</i>
                <textarea id="inputfeedback" data-length="500" class="materialize-textarea" required></textarea>
                <label for="inputfeedback">Write your feedback here :-)</label>
                
                </div>
                    <div class="input-field col s12 m12 l10">         
                        <p class="range-field">

                            <input type="range" id="rating" min="0" max="5" step="0.5"/>
                            <i class="material-icons">star_half</i>   
                            <label for"rating">Rate our service from 1 to 5</label>
                        </p>
                    </div>

                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light green" type="submit" name="action">Send Feedback
                    <i class="material-icons left">favorite</i>
                  </button>
                  <a class="btn modal-close">Cancel<i class="material-icons left">cancel</i></a>
                </div>
            </div>
            </form>

        </div>
    </div>
  </div>

        <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('user_wallet') }}"><i class="material-icons">account_balance_wallet</i>My Wallet</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="/admin" target="_blank" rel="noopener"><i class="material-icons">dashboard</i>Admin Dashboard</a></li>
        {% endif %}
        <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">build</i>Profile Settings</a></li>
        <li><a href="#feedback" data-target="feedback" class="modal-trigger"><i class="material-icons">favorite</i>Send Feedback</a></li>
        </ul>


        <ul id="dropdown2" class="dropdown-content">

        <li><a href="{{ path('user_wallet') }}"><i class="material-icons">account_balance_wallet</i>My Wallet</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="/admin" target="_blank" rel="noopener"><i class="material-icons">dashboard</i>Admin Dashboard</a></li>
        {% endif %}
        <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">build</i>Profile Settings</a></li>
        <li><a href="#feedback" data-target="feedback" class="modal-trigger"><i class="material-icons">favorite</i>Send Feedback</a></li>
        </ul>



        <ul class="sidenav" id="slide-out">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <li><a class="waves-effect waves-light btn blue darken-3 btn" href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ app.user.email }}
                                        <i class="material-icons right">arrow_drop_down</i>
                                        <i class="material-icons left">account_box</i></a>
                                        </li>
                                    {% else %}
                                        <li><a class="waves-effect waves-light blue darken-3 btn" href="{{path('fos_user_security_login')}}"><i class="material-icons left">security</i>Login</a></li>
                                    {% endif %}
        </ul>

        <nav>
            <div class="nav-wrapper">

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{path('user_wallet')}}" class="brand-logo"><img src="{{ asset('build/images/favicon.png')}}" class="logoImg"> Bitcoin Wallet</a>
                {% else %}
                
                    <a href="{{path('fos_user_registration_register')}}" class="brand-logo"><img src="{{ asset('build/images/favicon.png')}}" class="logoImg"> Bitcoin Wallet </a>
                    
                {% endif %}

                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a class="dropdown-trigger" href="#!" belowOrigin="true" data-target="dropdown2">{{ app.user.email }}
                        <i class="material-icons right">arrow_drop_down</i>
                        <i class="material-icons left">account_box</i></a>
                    </li>
                    <li><a class="waves-effect waves-light blue darken-3 btn" href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                {% else %}
                    <li><a class="waves-effect waves-light blue darken-3 btn" href="{{path('fos_user_security_login')}}"><i class="material-icons left">security</i>Login</a></li>
                {% endif %}

                </ul>
                    
            </div>
        </nav>

    <main>
        
        <div class="page-content">
            <div class="container">
                {% block body %}

                {% endblock %}
            </div>
        </div>

    </main>

        <div class="footerContainer">
    {{ render(controller(
        'App\\Controller\\UserController::getBitcoinData'
    )) }}
        </div>

        {% block javascripts %}
          <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" async></script>
          <script type="text/javascript" src="{{ asset('build/js/app.js') }}" async></script>

        <script>



            
        </script>
        {% endblock %}
    </body>
</html>