    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Wallet Transactions</h5>
          {% for transaction in transactions %}
            {% if (transaction.category == "receive" or transaction.category == "send") %}
                <a href="https://live.blockcypher.com/btc/tx/{{transaction.txid}}" target="_blank" rel="noopener" class="grey-text text-lighten-4">{{transaction.txid|length > 40 ? transaction.txid|slice(0, 40) ~ '...' : transaction.txid}}</a>
            {% endif %}
          {% endfor %}

              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Stats</h5>
                <ul>
                    <li><p class="grey-text text-lighten-4">{{info['subversion']}} <i class="material-icons left">verified_user</i></p></li>
                    <li><p class="grey-text text-lighten-4">Blocks: {{blockchaininfo['blocks']}} <i class="material-icons left">storage</i></p></li>
                    <li><p class="grey-text text-lighten-4">Difficulty: {{blockchaininfo['difficulty']|number_format(0, '.', ',')}} <i class="material-icons left">terrain</i></p></li>
                    <li><p class="grey-text text-lighten-4">Blockchain Sync: <span>{{(blockchaininfo['verificationprogress']*100)|number_format(6, '.', ',')}}% <i class="material-icons left">network_check</i></span></p></li>
                    <li><p class="grey-text text-lighten-4">Wallet Transactions: {{walletinfo.txcount}} <i class="material-icons left">compare_arrows</i></p></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Peter Dalby
            <a class="grey-text text-lighten-4 right" href="https://coinmarketcap.com/currencies/bitcoin" target="_blank" rel="noopener"> 1 BTC = <span class="btcrate">{{rate}}</span>$</a>
            </div>
          </div>
        </footer>
