<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Bitcoin Wallet">
        <meta name="theme-color">
        <title>{% block title %}Bitcoin Wallet{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png')}}" async>

        {% block stylesheets %}
          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" async>
          <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" async/>
        {% endblock %}

    </head>
    <body>
        <nav class="nav-extended">
            <div class="nav-wrapper">

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{path('user_wallet')}}" class="brand-logo"><img src="{{ asset('build/images/favicon.png')}}" class="logoImg"> Bitcoin Wallet</a>
                    {% else %}
                        <a href="{{path('fos_user_registration_register')}}" class="brand-logo"><img src="{{ asset('build/images/favicon.png')}}" class="logoImg"> Bitcoin Wallet</a>
                    {% endif %}

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    
                        <li>
                            <a class="dropdown-trigger" href="#!" data-covertrigger="false" data-beloworigin="false" data-target="dropdown2">{{ app.user.email }}
                            <i class="material-icons right">arrow_drop_down</i>
                            <i class="material-icons left">account_box</i></a>
                        </li>
                        <li><a class="waves-effect waves-light btn blue darken-3 btn" href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                        
                    {% else %}
                            <li><a class="waves-effect waves-light btn blue darken-3 btn" href="{{path('user_login')}}"><i class="material-icons left">security</i>Login</a></li>
                    {% endif %}
            </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active" href="#wallet">My Wallet</a></li>
                    <li class="tab"><a href="#sendbitcoin">Send</a></li>
                    <li class="tab"><a href="#settings">Settings</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    
                        <li><a class="waves-effect waves-light btn blue darken-3 btn" href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
                        <li>
                            <a class="dropdown-trigger" href="#!" data-covertrigger="false" data-beloworigin="false" data-target="dropdown1">{{ app.user.email }}
                            <i class="material-icons right">arrow_drop_down</i>
                            <i class="material-icons left">account_box</i></a>
                        </li>

                    {% else %}
                            <li><a class="waves-effect waves-light btn blue darken-3 btn" href="{{path('user_login')}}"><i class="material-icons left">security</i>Login</a></li>
                    {% endif %}
        </ul>
        
    <div id="sendbitcoin" class="col s12">
            <div class="container">
                      <div class="row">
                      
                                    <div><h5 class=" btnmargin right"><i class="material-icons">account_balance_wallet</i> <span class="totalBalance"><b>{{balance}}</span>฿ - {{usdbalance|number_format(2)}}$</b></h5></div><br><br>
<form class="btcTransaction">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_balance_wallet</i>
                            <input id="icon_prefix2" type="text" class="materialize-textarea btcAddress" required>
                            <label for="icon_prefix2">Receiving Bitcoin address</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fa fa-btc prefix" class="btcIcon" style="margin-left: 5px"></i>
                            <input id="icon_prefix3" type="number" class="materialize-textarea btcAmount" step="0.00000001" min="0.00000000000" required>
                            <label for="icon_prefix3" id="btcLabel">Amount of Bitcoin to send</label>
                            <span class="helper-text" data-error="wrong" data-success="right"> <span class="usdValue">0.00</span>$ <a class="useMax" href="#">(use max)</a></span>
                        </div>

                            <button class="btn waves-effect waves-light sendTransaction btnMarginTop" name="action">Verify Transaction
                                    <i class="material-icons left">verified_user</i>
                            </button>
</form>

                    </div>   
                                <div class="row">
                                    <div class="col s12 m6 l6 xl6 right">
                                    <div class="card-panel cyan lighten-1">
                                        <i class="material-icons medium right">info_outline</i> <b><h6> Bitcoin Fees - Did you know?</b></h6><br>
                                        <span class="white-text">The time a transaction takes to confirm depends on the conditions of the Bitcoin network and the fee sent.
                                        The fee is unknown until the transaction is sent and is automatically deducted from the amount sent.
                                        This means that the receiving part will receive slightly less than the amount sent.
                                        </span>
                                    </div>
                                    </div>
                                </div>

            </div>
            <br><br>
        </div>


        <div id="settings" class="col s12">
            <div class="container">
                <div class="row">
            <div class="col s12 m12 l6 xl6">
                <h3>Generate Bitcoin Address</h3>
                <form action="{{path('user_wallet_new_address')}}">
                    <p>Choose a format for generating a new Bitcoin address. </p>
                    <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio" checked />
                        <span>Bech32 (Recommended)</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                        <span>P2SH-Segwit</span>
                    </label>
                    </p>
                    <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                        <span>Legacy</span>
                    </label>
                    </p>
                    <button class="btn waves-effect waves-light left tooltipped" data-position="bottom" data-tooltip="Generated Addresses Can't Be Deleted" type="submit" name="action" onclick="M.toast({html: 'Creating address...', displayLength: 5000, classes: 'rounded'})">Generate new address
                        <i class="material-icons left">account_balance_wallet</i>
                    </button>
                    
                </form>
                </div>            
        </div>
    </div>
    <br><br>
</div>

        <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('user_wallet') }}"><i class="material-icons">account_balance_wallet</i>My Wallet</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">build</i>Profile Settings</a></li>
        </ul>


        <ul id="dropdown2" class="dropdown-content">
        <li><a href="{{ path('user_wallet') }}"><i class="material-icons">account_balance_wallet</i>My Wallet</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">build</i>Profile Settings</a></li>
        </ul>
                
        <div class="page-content">
            <div class="container">
                <div id="wallet" class="col s12">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="footerContainer">
            {{ render(controller(
                'App\\Controller\\UserController::getBitcoinData'
            )) }}
        </div>

        {% block javascripts %}
          <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous" async></script>
          <script type="text/javascript" src="{{ asset('build/js/app.js') }}" async></script>
          <script type="text/javascript" src="https://unpkg.com/sweetalert2@7.20.1/dist/sweetalert2.all.js" async></script>
        {% endblock %}
    </body>
</html>
