{% extends 'walletbase.html.twig' %}

{% block body %}

    <div class="col s12">
          <div class="row">
          <h5 class=" btnMargin tooltipped left" data-position="top" data-tooltip="Bitcoin Balance (6+ confirmations)"><i class="material-icons">account_balance_wallet</i> <b>{{balance|number_format(8, '.', ',')}}฿ - {{usdbalance|number_format(2, '.', ',')}}$</b></h5>
          <h5 class=" btnMargin tooltipped right" data-position="top" data-tooltip="Unconfirmed Bitcoin Balance (0 confirmations)"><i class="material-icons">sync</i> <b>{{unbalance|number_format(8, '.', ',')}}฿ - {{unconfirmedusdbalance|number_format(2, '.', ',')}}$</b></h5>
          <br><br>

  <div id="admin" class="col s12">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Transactions</span>
        <div class="actions">
          <button class="search-toggle waves-effect waves-light btn"><i class="material-icons">search</i></button>
        </div>
      </div>
      <table class="responsive-table" id="datatable" >
        <thead>
          <tr>
              <th style="font-size: 14px"><i class="material-icons prefix tiny">access_time</i> <b>Timestamp</b></th>
              <th style="font-size: 14px"><i class="material-icons prefix tiny">account_balance_wallet</i> <b>Address</b></th>
              <th style="font-size: 14px"><i class="fa fa-btc prefix"></i> <b>Amount</b></th>
              <th style="font-size: 14px"><i class="material-icons prefix tiny">vpn_lock</i> <b>TX ID</b></th>
              <th style="font-size: 14px"><i class="material-icons prefix tiny">security</i> <b>Confirmations</b></th>
              <th style="font-size: 14px"><i class="material-icons prefix tiny">swap_horiz</i> <b>Type</b></th>
          </tr>
        </thead>
                  <tbody>
          {% for transaction in transactions %}
            {% if transaction.category == "receive" %}
                    <tr>
                <td>{{transaction.time|date('d/m/Y H:i')}}</td>
                <td>{{transaction.address}}</td>
                <td style="color: #00c853">{{transaction.amount|number_format(8, '.', ',')}}฿</td>
                <td style="text-decoration: underline"><a href="https://live.blockcypher.com/btc/tx/{{transaction.txid}}" target="_blank" rel="noopener">{{transaction.txid}}</a></td>
                <td>{{transaction.confirmations}}</td>
                <td><i class="material-icons">arrow_back</i></td>
                        </tr>
            {% elseif transaction.category == "send" %}
                    <tr>
                <td>{{transaction.time|date('d/m/Y H:i')}}</td>
                <td>{{transaction.address}}</td>
                <td style="color: red">{{transaction.amount|number_format(8, '.', ',')}}฿</td>
                <td style="text-decoration: underline"><a href="https://live.blockcypher.com/btc/tx/{{transaction.txid}}" target="_blank" rel="noopener">{{transaction.txid}}</a></td>
                <td>{{transaction.confirmations}}</td>
                <td><i class="material-icons">arrow_forward</i></td>
                        </tr>

                {% endif %}
        {% endfor %}
                </tbody>
      </table>
    </div>
  </div>
</div>

  <div class="col s12">
            <div class="row">
  <h4>Addresses</h4>
  <p>Receive Bitcoin payments by sharing your Bitcoin addresses.</p>
  <div class="listAddresses">
  
  {% for address in addresses %}
    <ul class="collection">
      <li class="collection-item">
        <a class="waves-effect waves-light btn right"><i class="material-icons left">content_copy</i>Copy</a>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="copyInput" type="text" readonly spellcheck="false" value="{{address}}">
          <label for="copyInput">Bitcoin Address</label>                   
        </div>
      </li>
    </ul>

  {% else %}
    <p>To start receiving Bitcoin an address is required, create one by clicking the button</p>
        <form action="{{path('user_wallet_new_address')}}">
            <button class="btn waves-effect waves-light left" type="submit" name="action" onclick="M.toast({html: 'Creating address...', displayLength: 10000, classes: 'rounded'})">Generate new address
                <i class="material-icons left">account_balance_wallet</i>
            </button>
            
        </form>
  {% endfor %}
</div>
</div>

</div>
  <br><br>
{% endblock %}